<mat-card class="shadow-lg rounded-lg">
    <img mat-card-image [src]="imageUrl" alt="Card image" class="rounded-md" />
    <mat-card-header class="flex items-center">
        <mat-card-title class="text-lg font-bold">{{ title }}</mat-card-title>
        <!-- <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle> -->
    </mat-card-header>
  
    <mat-card-content>
        <p class="text-sm">{{ description }}</p>
    </mat-card-content>
    <mat-card-actions class="flex justify-end">
        <!-- <button mat-raised-button color="primary" class="hover:bg-blue-500">
            Learn More
        </button> -->
    </mat-card-actions>
</mat-card>
