/* Tailwind-based styles */
/* .mat-card {
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.mat-card-header {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
} */
