<aside
  [ngClass]="{ 'w-64': !isCollapsed, 'w-16': isCollapsed }"
  class="h-screen bg-white text-gray-700 flex flex-col transition-all duration-300 "
>
  <!-- Sidebar Header -->
  <div class="p-4 flex items-center bg-blue-600 text-white sticky top-0 z-40">
    <button (click)="toggleSidebar()" class="focus:outline-none">
      <fa-icon [icon]="faBars" class="text-white"></fa-icon>
    </button>
    <span *ngIf="!isCollapsed" class="flex-1 text-center font-bold">
      Super Admin
    </span>
  </div>

  <!-- Navigation -->
  <nav class="flex-1">
    <ul class="space-y-4 p-4">
      <li *ngFor="let dropdown of dropdowns" class="relative group">
        <!-- Hover Container -->
        <div
          class="flex items-center space-x-4 cursor-pointer hover:text-blue-500"
          (mouseover)="setActiveDropdown(dropdown.title)"
          (mouseleave)="clearActiveDropdown()"
        >
          <fa-icon
            [icon]="faIcons[dropdown.title]"
            class="text-gray-600"
          ></fa-icon>
          <span *ngIf="!isCollapsed" class="truncate">
            {{ dropdown.title }}
          </span>
        </div>

        <!-- Subdropdown -->
        <div
          class="absolute left-40 top-0 bg-white border border-gray-300 shadow-lg rounded-md p-2 z-50"
          *ngIf="!isCollapsed && activeDropdown === dropdown.title"
          (mouseover)="setActiveDropdown(dropdown.title)"
          (mouseleave)="clearActiveDropdown()"
        >
          <ul class="space-y-1">
            <li
              *ngFor="let item of dropdown.items"
              class="relative group"
              (mouseover)="setActiveSubDropdown(item)"
              (mouseleave)="clearActiveSubDropdown()"
            >
              <div
                class="flex flex-wrap items-center truncate px-6 py-2 hover:bg-gray-100 cursor-pointer hover:text-blue-500"
              >
                {{ item }}
              </div>

              <!-- Level-3 Dropdown -->
              <div
                class="absolute left-full top-0 bg-white/90 border border-gray-300 shadow-lg rounded-md p-2 z-50"
                *ngIf="activeSubDropdown === item"
              >
                <ul>
                  <li
                  *ngFor="let subItem of getLevel3Items(item)"
                   class="px-4 py-2 cursor-pointer hover:bg-gray-100 hover:text-blue-500"
                   (click)="navigateToRoute(subItem.route)"
                    >
                   <span class="flex flex-wrap items-center truncate">
                   {{ subItem.title }}
                  </span>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</aside>
